html
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="x-apple-disable-message-reformatting")
      title= subject
      // link(rel="stylesheet", href="style.css", data-inline)
 
  body
    - var url = buttonUrl;
    h3 Erfolgreiche Zurücksetzung ihres Passwortes
    p Sie haben Ihr Passwort erfolgreich zurückgesetzt!
    <br/> 
    a(href=buttonUrl) Zum Login
  footer
    a(href='https://learningmiddleware-dev.fokus.fraunhofer.de/impressum.html') Impressum / Imprint