html
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="x-apple-disable-message-reformatting")
    
      title= subject
      // link(rel="stylesheet", href="style.css", data-inline)
  body#body
    - var url = url;
    - var accessToken =accessToken
    form
        h3 Zurücksetzen des Passworts am KI-Demonstrators
        div 
            div Password
            input#password(type="password", name="password")
        div
            div     Confrim Password 
            input#confirmPassword(type="password", name="confirmPassword")
        div 
            input#url(type="hidden", name="url" value=url)
            input#accessToken(type="hidden", name="accessToken" value=accessToken)
        Button(style='margin-top:10px', name='submit')#submit Submit
    script.
       
        //- const [password, confirmPassword,submit] = [password, confirmPassword, submit ];
      
        submit.addEventListener('click', (e) =>{
            e.preventDefault();
            
            if(password.value.trim().length < 5){
                alert('Password has to have atleast length of 5');
                return
            }

            if(password.value !== confirmPassword.value){ 
                alert("Password and confirm password have to be the same!")
                return
            }

            fetch(url.value, {
                redirect:'follow',
                method:"POST",
                headers:{
                    'x-access-token': accessToken.value,
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    password: password.value.trim()
                })
            }).then(async(response) =>{
                if(!response.ok){
                     const json = await response.json();
                    alert(json.message)
                    return
                }
                if (response.redirected) {
                     window.location.href = response.url;
                 }
            }) 
         })

        

    //- footer    
    //- a(href='https://learningmiddleware-dev.fokus.fraunhofer.de/impressum.html') Impressum / Imprint